body {
    background-image: url(../../img/smooth-green-concrete-wall-background.jpg);
    background-size: cover;
    font-family: 'Bahnschrift', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principal {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin:0;
    margin-top: 10%;
}

.button-container button,
#solitud {
    background-color: lightgreen;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Bahnschrift', sans-serif;
}

.ticket-info {
    text-decoration: underline;
}

#motivo {
    border: 1px solid black;
    padding: 10px;
}
.Cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}