@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutGeneral";
}



<link rel="stylesheet" href="~/css/Administrador/CrearUsuario.css" asp-append-version="true" />
<div class="principal">
    <div class="label1">
        <h2>
            Crear Usuario
        </h2>
    </div>
    <div class="formulario">
        <h3 class="textoformulario">Tipo usuario</h3>
        <table>
            <tr>
                <td><h4 class="textoformulario">Administrador</h4></td>
                <td><input id="admin" type="checkbox"></input></td>
            </tr>
            <tr>
                <td><h4 class="textoformulario">Tecnico</h4></td>
                <td><input id="tec" type="checkbox"></input></td>
            </tr>
        </table>
        <div>
            <form asp-action="CrearUsuario" method="post">
                <div class="fila">
                    <h3 class="textoformulario">Nombre Usuario</h3>
                    <input class="input" name="nombre"></input>
                </div>
                <div class="fila">
                    <h3 class="textoformulario">Correo Usuario</h3>
                    <input class="input" name="correo"></input>
                </div>
                <div class="fila">
                    <h3 class="textoformulario">Contraseña Usuario</h3>
                    <input class="input" name="pwd"></input>
                </div>
                <input id="userType" name="tipo" type="hidden"></input>
                <div class="button-container">
                    <button id="botoncrear" type="submit">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var valoradm = document.getElementById('admin');
        var valortec = document.getElementById('tec');
        var userTypeInput = document.getElementById('userType');

        function updateUserType() {
            if (valoradm.checked) {
                userTypeInput.value = 1;
            } else if (valortec.checked) {
                userTypeInput.value = 2;
            } else {
                userTypeInput.value = '';
            }
        }

        valoradm.addEventListener('change', function () {
            if (valoradm.checked) {
                valortec.checked = false; // Desmarcar 'tec' si 'admin' está marcado
            }
            updateUserType();
        });

        valortec.addEventListener('change', function () {
            if (valortec.checked) {
                valoradm.checked = false; // Desmarcar 'admin' si 'tec' está marcado
            }
            updateUserType();
        });

        updateUserType(); // Inicializar el valor al cargar la página
    });
</script>
