@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/Inicio/CrearCliente.css" asp-append-version="true" />

<div>
    <h2>
        Crear Usuario
    </h2>
    <div>
        <form asp-action="CrearCliente" method="post">
            <h3>Nombre Usuario</h3>
            <input name="nombre"></input>
            <h3>Correo Usuario</h3>
            <input name="correo"></input>
            <h3>Contraseña Usuario</h3>
            <input name="pwd"></input>
            <h3>Empresa</h3>
            <input name="empresa"></input>
            <button type="submit">Crear</button>
        </form>
    </div>
    <div class="center-button">
        <button onclick="cerrarCreaUsuaario()">Cerrar Ventana</button>
    </div>
    <script>
        function cerrarCreaUsuaario() {
            window.close();
        }
    </script>
</div>