@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/Inicio/Index.css" asp-append-version="true" />





<div class="principal">
    <div class="InicioSesion">
        <div>
            <h1 id="tituloiniciar">Iniciar Sesion</h1>
        </div>
        <form asp-action="Index" method="post" class="credenciales">
            <span class="subtitulos">Usuario</span>
            <input type="text" name="correo" class="inp" placeholder="Ingrese su correo electrónico" />
            <span class="subtitulos">Contraseña</span>
            <input type="password" name="pwd" class="inp" placeholder="Ingrese su contraseña" />
            <div id="coningresar">
                <button id="ingresar" type="submit">Ingresar</button>
            </div>
            
        </form>
        <div class="preguntas">
            <a href="@Url.Action("CrearCliente", "Inicio")" target="_blank">¿No tienes cuenta?</a>
            <a href="@Url.Action("RecuperarContraseña", "Cuenta")">¿Se te olvidó tu contraseña?</a>

        </div>

    </div>
</div>
